img:not(.img-header) {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.img-header {
  object-fit: cover;
  width: 1250px;
  height: 500px;
}

.footer a[href] {
  color: #343a40;
  text-decoration: none; /* no underline */
}
